.contacto {
    font-size: 1.125rem;
    color: white;
    padding: 1rem;
}
.derecha {
    padding: 0.8rem 1.8rem;
}

textarea, input, select{
    width: 100%;
    padding: 0.3rem;
    border: 1px solid #1a1a1a;
    font-size: 1rem;
    margin-top: 0.7rem;
    margin-bottom: 1.125rem;
    transition: .3s;
    color: #1a1a1a;
}

input[type=button] {
    width: 100%;
    padding: 10px 20px;
    background-color: #F65826;
    cursor: pointer;
    border: none;
    color: #fff;
}


label {
    color: #F65826;
    font-weight: 600;
}

@media (min-width: 768px) {

}
@media (min-width: 992px) {


}

@media (min-width: 1200px) {

}
